In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns
from sklearn.preprocessing import OneHotEncoder,LabelEncoder


%matplotlib inline

# Load Dataset dan Ekplorasi

In [2]:
jenis_kunjungan = pd.read_excel('../data/Salinan Metadata.xlsx', sheet_name='Jenis Kunjungan FKTP')
poli_faskes_tujuan_rujukan = pd.read_excel('../data/Salinan Metadata.xlsx',sheet_name='Poli faskes tujuan rujukan')
tipe_faskes_tujuan_rujukan = pd.read_excel('../data/Salinan Metadata.xlsx',sheet_name='Tipe faskes tujuan rujukan')
jenis_faskes_tujuan_rujukan = pd.read_excel('../data/Salinan Metadata.xlsx',sheet_name='Jenis faskes tujuan rujukan')
provinsi_faskes_tujuan_rujukan = pd.read_excel('../data/Salinan Metadata.xlsx',sheet_name='Provinsi Faskes Tujuan Rujukan')
segmen_perkerjaan = pd.read_excel('../data/Salinan Metadata.xlsx',sheet_name='Segmen Pekerjaan FTKP')
jenis_poli = pd.read_excel('../data/Salinan Metadata.xlsx',sheet_name='Jenis Poli FTKP')
tingkat_pelayanan = pd.read_excel('../data/Salinan Metadata.xlsx',sheet_name='Tingkat Pelayanan FTKP')
tipe = pd.read_excel('../data/Salinan Metadata.xlsx',sheet_name='Tipe FTKP')
jenis = pd.read_excel('../data/Salinan Metadata.xlsx',sheet_name='Jenis FTKP')
kepemilikan = pd.read_excel('../data/Salinan Metadata.xlsx',sheet_name='Kepemilikan FTKP')
columns = pd.read_excel('../data/Salinan Metadata.xlsx',sheet_name='Label')
provinsi = pd.read_excel('../data/Salinan Metadata.xlsx',sheet_name='Provinsi')

In [3]:
dataset = pd.read_csv('../data/train_fktp.txt', names=columns['Label'])

In [4]:
dataset.head()

,Nomor peserta,Nomor keluarga,Bobot,ID Kunjungan FKTP,Tanggal datang kunjungan FKTP,Tanggal pulang kunjungan FKTP,Provinsi FKTP,Kabupaten/Kota FKTP,Kepemilikan FKTP,Jenis FKTP,...,Kode diagnosis (beragam 3-5 digit),Nama diagnosis berasal dari kode diagnosis FKP15,Provinsi faskes tujuan rujukan,Kabupaten/Kota faskes tujuan rujukan,Kepemilikan faskes tujuan rujukan,Jenis faskes tujuan rujukan,Tipe faskes tujuan rujukan,Poli faskes tujuan rujukan,Jenis Kunjungan FKTP,Kelas Status Pulang Peserta
0,157978748.0,50765420,20.064983,958073632,2019-08-01,2019-08-01,61,6108,3,1,...,9999,9999,98,9998,98,98,98,98,2,Sehat
1,95085112.0,26931775,2.626307,449590620P000054,2020-06-17,2020-06-17,51,5171,9,3,...,K297,"Gastritis, unspecified",98,9998,98,98,98,98,1,Belum_Sehat
2,224470578.0,227368233,1.051830,467490619P000001,2019-06-01,2019-06-01,35,3516,9,2,...,Z309,"Contraceptive management, unspecified",98,9998,98,98,98,98,1,Belum_Sehat
3,63871289.0,62313678,364.741455,254321219Y002368,2019-12-21,2019-12-21,34,3402,3,1,...,I10,Essential (primary) hypertension,98,9998,98,98,98,98,1,Belum_Sehat
4,29915626.0,113446188,1.050523,88681119P000020,2019-11-04,2019-11-04,35,3509,3,1,...,I110,Hypertensive heart disease with (congestive) h...,98,9998,98,98,98,98,1,Belum_Sehat

In [5]:
dataset.shape

(4056898, 26)

In [6]:
dataset['Kelas Status Pulang Peserta'].value_counts()

Belum_Sehat    2634511
Sehat          1422387
Name: Kelas Status Pulang Peserta, dtype: int64

In [7]:
dataset.isnull().sum()

Nomor peserta                                             0
Nomor keluarga                                            0
Bobot                                                     0
ID Kunjungan FKTP                                         0
Tanggal datang kunjungan FKTP                             0
Tanggal pulang kunjungan FKTP                             0
Provinsi FKTP                                             0
Kabupaten/Kota FKTP                                       0
Kepemilikan FKTP                                          0
Jenis FKTP                                                0
Tipe FKTP                                                 0
Tingkat Pelayanan FKTP                                    0
Jenis Poli FKTP                                           1
Segmen Peserta saat akses layanan FKTP                    0
Kode dan nama diagnosis ICD 10 (3 digit)                  0
Kode diagnosis ICD 10 (3 digit)                     1380241
Kode diagnosis (beragam 3-5 digit)                        0
Nama diagnosis berasal dari kode diagnosis FKP15          0
Provinsi faskes tujuan rujukan                            0
Kabupaten/Kota faskes tujuan rujukan                      0
Kepemilikan faskes tujuan rujukan                         0
Jenis faskes tujuan rujukan                               0
Tipe faskes tujuan rujukan                                0
Poli faskes tujuan rujukan                                0
Jenis Kunjungan FKTP                                      0
Kelas Status Pulang Peserta                               0
dtype: int64

In [8]:
empty_data = dataset['Kode diagnosis ICD 10 (3 digit)'][dataset['Kode diagnosis ICD 10 (3 digit)'].isnull()]
empty_data

0          NaN
6          NaN
7          NaN
8          NaN
10         NaN
          ...
4056890    NaN
4056892    NaN
4056893    NaN
4056895    NaN
4056897    NaN
Name: Kode diagnosis ICD 10 (3 digit), Length: 1380241, dtype: object

In [9]:
columns

      Variable  Position                                             Label
0       PSTV01         1                                     Nomor peserta
1       PSTV02         2                                    Nomor keluarga
2       PSTV15         3                                             Bobot
3        FKP02         4                                 ID Kunjungan FKTP
4        FKP03         5                     Tanggal datang kunjungan FKTP
5        FKP04         6                     Tanggal pulang kunjungan FKTP
6        FKP05         7                                     Provinsi FKTP
7        FKP06         8                               Kabupaten/Kota FKTP
8        FKP07         9                                  Kepemilikan FKTP
9        FKP08        10                                        Jenis FKTP
10       FKP09        11                                         Tipe FKTP
11       FKP10        12                            Tingkat Pelayanan FKTP
12       FKP11        13                                   Jenis Poli FKTP
13       FKP12        14            Segmen Peserta saat akses layanan FKTP
14       FKP14        16          Kode dan nama diagnosis ICD 10 (3 digit)
15      FKP14A        17                   Kode diagnosis ICD 10 (3 digit)
16       FKP15        18                Kode diagnosis (beragam 3-5 digit)
17      FKP15A        19  Nama diagnosis berasal dari kode diagnosis FKP15
18       FKP16        20                    Provinsi faskes tujuan rujukan
19       FKP17        21              Kabupaten/Kota faskes tujuan rujukan
20       FKP18        22                 Kepemilikan faskes tujuan rujukan
21       FKP19        23                       Jenis faskes tujuan rujukan
22       FKP20        24                        Tipe faskes tujuan rujukan
23       FKP21        25                        Poli faskes tujuan rujukan
24       FKP22        26                              Jenis Kunjungan FKTP
25  FKP13Class        26                       Kelas Status Pulang Peserta

In [10]:
dataset['Bobot'].describe()

count    4.056898e+06
mean     1.056512e+02
std      1.886474e+02
min      5.106980e-01
25%      1.676808e+01
50%      5.147561e+01
75%      1.282688e+02
max      3.035342e+04
Name: Bobot, dtype: float64

## Melakukan scaling terhadap column bobot agar data bisa seraga

In [11]:
dataset['Bobot'] = dataset['Bobot'] / dataset['Bobot'].max()
dataset['Bobot']

0          0.000661
1          0.000087
2          0.000035
3          0.012016
4          0.000035
             ...
4056893    0.000469
4056894    0.000128
4056895    0.000202
4056896    0.000875
4056897    0.002911
Name: Bobot, Length: 4056898, dtype: float64

In [12]:
dataset = dataset.drop(['Nomor peserta', 'Nomor keluarga', 'ID Kunjungan FKTP'], axis=1)

## Merge data Provinsi FKTP dengan Label Provinsi

In [13]:
dataset['Provinsi FKTP'] = dataset['Provinsi FKTP'].astype(int)

In [14]:
provinsi['value'] = provinsi['value'].astype(int)

In [15]:
merged_data = pd.merge(left=dataset, right=provinsi, how='inner',left_on='Provinsi FKTP',right_on='value')

In [16]:
merged_data.sample(10).filter(items=['Provinsi FKTP', 'label'])

         Provinsi FKTP               label
3723902             74   Sulawesi Tenggara
1910070             73    Sulawesi Selatan
3000410             36              Banten
1105839             33         Jawa Tengah
2568886             12      Sumatera Utara
3098126             36              Banten
2187454             31         DKI Jakarta
3432289             32          Jawa Barat
48208               61    Kalimantan Barat
1731354             63  Kalimantan Selatan

In [17]:
dataset['Provinsi'] = merged_data['label']
dataset.sample(10).filter(items=['Provinsi FKTP', 'Provinsi'])

         Provinsi FKTP          Provinsi
3117012             18            Banten
3293750             74        Jawa Barat
3190453             12        Jawa Barat
1859820             33    Sumatera Barat
1628121             31              Riau
3848967             11              Aceh
2851307             21             Jambi
748835              63     DI Yogyakarta
1953102             32  Sulawesi Selatan
2395325             12  Sumatera Selatan

## Merge Kepemilikan FTKP dengan Label Kepemilikan

In [18]:
kepemilikan['value'] = kepemilikan['value'].astype(int)
merged_data = pd.merge(left=dataset, right=kepemilikan, how='inner',left_on='Kepemilikan FKTP',right_on='value')
merged_data.sample(10).filter(items=['Kepemilikan FKTP', 'label'])

         Kepemilikan FKTP    label
1435426                 3   PemKab
1258058                 3   PemKab
1936974                 3   PemKab
518986                  3   PemKab
1184453                 3   PemKab
105426                  3   PemKab
3090665                 9  Swasta
2342611                 9  Swasta
258696                  3   PemKab
2709295                 9  Swasta

In [19]:
dataset['Kepemilikan'] = merged_data['label']
dataset.sample(10).filter(items=['Kepemilikan FKTP', 'Kepemilikan'])

         Kepemilikan FKTP Kepemilikan
882080                  3      PemKab
3186922                 3     Swasta
2513335                 3     Swasta
1315874                 3      PemKab
10086                   3      PemKab
1258971                 9      PemKab
1500312                 7      PemKab
1395768                 9      PemKab
2989412                 3     Swasta
3356366                 3     Swasta

## Merge Jenis FKTP dengan Label Jenis

In [20]:
jenis['value'] = jenis['value'].astype(int)
merged_data = pd.merge(left=dataset, right=jenis, how='inner',left_on='Jenis FKTP',right_on='value')
merged_data.sample(10).filter(items=['Jenis FKTP', 'label'])

         Jenis FKTP           label
3856307           2  Klinik Pratama
3518145           2  Klinik Pratama
206326            1       Puskesmas
2875091           2  Klinik Pratama
2864332           2  Klinik Pratama
13053             1       Puskesmas
2653238           3     Dokter Umum
3637810           2  Klinik Pratama
1447587           1       Puskesmas
2609273           3     Dokter Umum

In [21]:
dataset['Jenis'] = merged_data['label']
dataset.sample(10).filter(items=['Kepemilikan FKTP', 'Jenis'])

         Kepemilikan FKTP           Jenis
3454357                 9  Klinik Pratama
4018049                 3     Dokter gigi
1938355                 9       Puskesmas
3200500                 3  Klinik Pratama
821751                  3       Puskesmas
2471802                 9     Dokter Umum
2865067                 9  Klinik Pratama
1853702                 3       Puskesmas
3648261                 9  Klinik Pratama
999864                  9       Puskesmas

##Merge Tipe FTKP dengan Label Kepemilikan

In [22]:
tipe['value'] = tipe['value'].astype(int)
merged_data = pd.merge(left=dataset, right=tipe, how='inner',left_on='Tipe FKTP',right_on='value')
merged_data.sample(10).filter(items=['Tipe FKTP', 'label'])

         Tipe FKTP                      label
3262173          3             Non Rawat Inap
3721294          3             Non Rawat Inap
2170771          1      Klinik Non Rawat Inap
2070895          1      Klinik Non Rawat Inap
3560664          3             Non Rawat Inap
993304           2  Dokter Prakter Perorangan
1256202          2  Dokter Prakter Perorangan
3126463          3             Non Rawat Inap
3877560          5          Klinik Rawat Inap
1538075          2  Dokter Prakter Perorangan

In [23]:
dataset['Tipe'] = merged_data['label']
dataset.sample(10).filter(items=['Tipe FKTP', 'Tipe'])

         Tipe FKTP                       Tipe
3580816          4             Non Rawat Inap
792814           1                 Rawat Inap
2555581          3      Klinik Non Rawat Inap
1373368          3  Dokter Prakter Perorangan
1986727          1      Klinik Non Rawat Inap
1651521          1      Klinik Non Rawat Inap
795061           1                 Rawat Inap
324402           1                 Rawat Inap
3135662          4             Non Rawat Inap
2041673          1      Klinik Non Rawat Inap

## Merge Tingkat Pelayanan FTKP dengan Label Tingkat Pelayanan

In [24]:
tingkat_pelayanan['value'] = tingkat_pelayanan['value'].astype(int)
merged_data = pd.merge(left=dataset, right=tingkat_pelayanan, how='inner',left_on='Tingkat Pelayanan FKTP',right_on='value')
merged_data.sample(10).filter(items=['Tingkat Pelayanan FKTP', 'label'])

         Tingkat Pelayanan FKTP label
1955419                       1  RJTP
1417192                       1  RJTP
3144137                       1  RJTP
2328062                       1  RJTP
3042643                       1  RJTP
2429807                       1  RJTP
2770378                       1  RJTP
118122                        1  RJTP
2258672                       1  RJTP
3424688                       1  RJTP

In [25]:
dataset['Tingkat Pelayanan'] = merged_data['label']
dataset.sample(10).filter(items=['Tingkat Pelayanan FKTP', 'Tingkat Pelayanan'])

         Tingkat Pelayanan FKTP Tingkat Pelayanan
999957                        1              RJTP
195174                        1              RJTP
2859183                       1              RJTP
1114703                       1              RJTP
226793                        1              RJTP
2204701                       1              RJTP
948708                        1              RJTP
3395091                       1              RJTP
1316368                       1              RJTP
2063165                       1              RJTP

## Merge Jenis Poli FTKP dengan Label Jenis Poli

In [26]:
jenis_poli['value'] = jenis_poli['value'].astype(int)
merged_data = pd.merge(left=dataset, right=jenis_poli, how='inner',left_on='Jenis Poli FKTP',right_on='value')
merged_data.sample(10).filter(items=['Tingkat Pelayanan FKTP', 'label'])

         Tingkat Pelayanan FKTP              label
1175129                       1          POLI UMUM
1616067                       1          POLI UMUM
72512                         1         Home-Visit
4013523                       1            POLI KB
3568710                       1          Konseling
1112775                       1          POLI UMUM
270246                        1         Home-Visit
375584                        1         Home-Visit
3845858                       1  POLI GIGI & MULUT
3266714                       1          Konseling

In [27]:
dataset['Jenis Poli'] = merged_data['label']
dataset.sample(10).filter(items=['Tingkat Pelayanan FKTP', 'Jenis Poli'])

         Tingkat Pelayanan FKTP         Jenis Poli
166797                        1         Home-Visit
1542407                       1          POLI UMUM
568467                        1          POLI UMUM
1065275                       1          POLI UMUM
1731753                       1          POLI UMUM
1078366                       1          POLI UMUM
3854660                       1  POLI GIGI & MULUT
2320728                       1          POLI UMUM
87196                         1         Home-Visit
3114935                       1          Konseling

## Merge Segmen Peserta saat akses layanan FKTP dengan Label Segmen Peserta saat akses layanan FKTP

In [28]:
segmen_perkerjaan['value'] = segmen_perkerjaan['value'].astype(int)
merged_data = pd.merge(left=dataset, right=segmen_perkerjaan, how='inner',left_on='Segmen Peserta saat akses layanan FKTP',right_on='value')
merged_data.sample(10).filter(items=['Segmen Peserta saat akses layanan FKTP', 'label'])

         Segmen Peserta saat akses layanan FKTP          label
3535191                                       1  Bukan pekerja
2418563                                       5           PPU
2137535                                       5           PPU
3934139                                       3       PBI APBD
1248283                                       2       PBI APBN
2858732                                       5           PPU
531124                                        2       PBI APBN
3325068                                       5           PPU
751494                                        2       PBI APBN
3710740                                       3       PBI APBD

In [29]:
dataset['Segemen Akses'] = merged_data['label']
dataset.sample(10).filter(items=['Segmen Peserta saat akses layanan FKTP', 'Segemen Akses'])

         Segmen Peserta saat akses layanan FKTP Segemen Akses
2775389                                       2          PPU
19762                                         2      PBI APBN
1371403                                       5          PBPU
1010644                                       2      PBI APBN
1240053                                       5      PBI APBN
1401377                                       5          PBPU
119003                                        4      PBI APBN
1943249                                       5          PBPU
1791860                                       2          PBPU
3051940                                       5          PPU

## Merge Provinsi faskes tujuan rujukan Dengan Label Provinsi

In [30]:
dataset['Provinsi faskes tujuan rujukan'] = dataset['Provinsi faskes tujuan rujukan'].replace(98,99)
dataset['Provinsi faskes tujuan rujukan']

0          99
1          99
2          99
3          99
4          99
           ..
4056893    99
4056894    35
4056895    99
4056896    99
4056897    99
Name: Provinsi faskes tujuan rujukan, Length: 4056898, dtype: int64

In [31]:
provinsi_faskes_tujuan_rujukan['value'] = provinsi_faskes_tujuan_rujukan['value'].astype(int)
merged_data = pd.merge(left=dataset, right=provinsi_faskes_tujuan_rujukan, how='inner',left_on='Provinsi faskes tujuan rujukan',right_on='value')
merged_data.sample(10).filter(items=['Provinsi faskes tujuan rujukan', 'label'])

         Provinsi faskes tujuan rujukan                    label
2025969                              99  Tidak dilakukan rujukan
2486750                              99  Tidak dilakukan rujukan
1506783                              99  Tidak dilakukan rujukan
1482713                              99  Tidak dilakukan rujukan
3533766                              99  Tidak dilakukan rujukan
2008373                              99  Tidak dilakukan rujukan
2692576                              99  Tidak dilakukan rujukan
2697823                              99  Tidak dilakukan rujukan
3016443                              99  Tidak dilakukan rujukan
3293267                              99  Tidak dilakukan rujukan

In [32]:
merged_data.shape

(4056898, 32)

In [33]:
dataset['Provinsi faskes tujuan rujukan label'] = merged_data['label']
dataset.sample(10).filter(items=['Provinsi faskes tujuan rujukan label', 'Provinsi faskes tujuan rujukan label'])

,Provinsi faskes tujuan rujukan label,Provinsi faskes tujuan rujukan label
1497891,Tidak dilakukan rujukan,Tidak dilakukan rujukan
3558698,Tidak dilakukan rujukan,Tidak dilakukan rujukan
424876,Tidak dilakukan rujukan,Tidak dilakukan rujukan
2446030,Tidak dilakukan rujukan,Tidak dilakukan rujukan
853175,Tidak dilakukan rujukan,Tidak dilakukan rujukan
2648674,Tidak dilakukan rujukan,Tidak dilakukan rujukan
165081,Tidak dilakukan rujukan,Tidak dilakukan rujukan
2616123,Tidak dilakukan rujukan,Tidak dilakukan rujukan
3599058,Tidak dilakukan rujukan,Tidak dilakukan rujukan
1567982,Tidak dilakukan rujukan,Tidak dilakukan rujukan

## Merge Kepemilikan faskes tujuan rujukan Dengan Label Kepemilikan faskes tujuan rujukan

In [34]:
dataset['Kepemilikan faskes tujuan rujukan'].value_counts()

98    3677528
9      208800
3      117312
2       16614
5       13834
4        8464
8        7550
7        2329
1        2244
6        2223
Name: Kepemilikan faskes tujuan rujukan, dtype: int64

In [35]:
kepemilikan['value'] = kepemilikan['value'].astype(int)
merged_data = pd.merge(left=dataset, right=kepemilikan, how='left',left_on='Kepemilikan faskes tujuan rujukan',right_on='value')
merged_data.sample(10).filter(items=['Kepemilikan faskes tujuan rujukan', 'label'])

         Kepemilikan faskes tujuan rujukan   label
1223345                                  3  PemKab
1630642                                 98     NaN
2662303                                 98     NaN
3112403                                 98     NaN
2326546                                 98     NaN
1431363                                 98     NaN
2823716                                 98     NaN
1069181                                 98     NaN
70637                                   98     NaN
2553736                                 98     NaN

In [36]:
merged_data['label'] = merged_data['label'].fillna('Tidak dirujuk')
merged_data['label'].isnull().sum()

0

In [37]:
dataset['Kepemilikan faskes tujuan rujukan label'] = merged_data['label']
dataset.sample(10).filter(items=['Kepemilikan faskes tujuan rujukan', 'Kepemilikan faskes tujuan rujukan label'])

,Kepemilikan faskes tujuan rujukan,Kepemilikan faskes tujuan rujukan label
1513717,98,Tidak dirujuk
662598,98,Tidak dirujuk
2369694,98,Tidak dirujuk
2217673,98,Tidak dirujuk
594441,98,Tidak dirujuk
3579751,3,PemKab
2022491,3,PemKab
1842092,98,Tidak dirujuk
334661,98,Tidak dirujuk
3185243,98,Tidak dirujuk

## Merge Jenis faskes tujuan rujukan Dengan Label Jenis faskes tujuan rujukan Label

In [38]:
jenis_faskes_tujuan_rujukan['value'] = jenis_faskes_tujuan_rujukan['value'].astype(int)
merged_data = pd.merge(left=dataset, right=jenis_faskes_tujuan_rujukan, how='left',left_on='Jenis faskes tujuan rujukan',right_on='value')
merged_data.sample(10).filter(items=['Jenis faskes tujuan rujukan', 'label'])

         Jenis faskes tujuan rujukan          label
1486226                           98  Tidak dirujuk
1938693                           98  Tidak dirujuk
1911095                           98  Tidak dirujuk
131608                            98  Tidak dirujuk
212359                            98  Tidak dirujuk
2764015                           98  Tidak dirujuk
1568427                           98  Tidak dirujuk
3281350                           98  Tidak dirujuk
1535839                           98  Tidak dirujuk
2190827                           98  Tidak dirujuk

In [39]:
dataset['Jenis faskes tujuan rujukan label'] = merged_data['label']
dataset.sample(10).filter(items=['Jenis faskes tujuan rujukan', 'Jenis faskes tujuan rujukan label'])

         Jenis faskes tujuan rujukan Jenis faskes tujuan rujukan label
1050658                           98                     Tidak dirujuk
2921170                            2                    Klinik Pratama
3491573                           98                     Tidak dirujuk
1094089                           98                     Tidak dirujuk
3777205                           98                     Tidak dirujuk
185133                            98                     Tidak dirujuk
648776                            98                     Tidak dirujuk
3904267                           98                     Tidak dirujuk
1694899                           98                     Tidak dirujuk
108639                            98                     Tidak dirujuk

## Merge Tipe faskes tujuan rujukan Dengan Label Tipe faskes tujuan rujukan

In [40]:
tipe_faskes_tujuan_rujukan['value'] = tipe_faskes_tujuan_rujukan['value'].astype(int)
merged_data = pd.merge(left=dataset, right=tipe_faskes_tujuan_rujukan, how='left',left_on='Tipe faskes tujuan rujukan',right_on='value')
merged_data.sample(10).filter(items=['Tipe faskes tujuan rujukan', 'label'])

         Tipe faskes tujuan rujukan                    label
3304071                          98                      NaN
3941288                          98                      NaN
853012                           98                      NaN
496231                           98                      NaN
1122868                          35  RS Swasta Setara Type D
1036754                          98                      NaN
3686901                          98                      NaN
2578816                          98                      NaN
29526                            98                      NaN
1294339                          98                      NaN

In [41]:
dataset['Tipe faskes tujuan rujukan label'] = merged_data['label']
dataset.sample(10).filter(items=['Tipe faskes tujuan rujukan', 'Jenis faskes tujuan rujukan label'])

         Tipe faskes tujuan rujukan Jenis faskes tujuan rujukan label
3778652                          98                     Tidak dirujuk
432167                           98                     Tidak dirujuk
3232113                          98                     Tidak dirujuk
2881186                          98                     Tidak dirujuk
996443                           98                     Tidak dirujuk
3558146                          98                     Tidak dirujuk
651270                           98                     Tidak dirujuk
1630329                          98                     Tidak dirujuk
3124692                          98                     Tidak dirujuk
1726458                          98                     Tidak dirujuk

## Merge Poli faskes tujuan rujukan Dengan Label Poli faskes tujuan rujukan

In [42]:
poli_faskes_tujuan_rujukan['value'] = poli_faskes_tujuan_rujukan['value'].astype(int)
merged_data = pd.merge(left=dataset, right=poli_faskes_tujuan_rujukan, how='left',left_on='Poli faskes tujuan rujukan',right_on='value')
merged_data.sample(10).filter(items=['Poli faskes tujuan rujukan', 'label'])

         Poli faskes tujuan rujukan          label
4015859                          99        MISSING
1120463                          98  TIDAK DIRUJUK
3873988                          99        MISSING
3569484                          98  TIDAK DIRUJUK
3955894                          98  TIDAK DIRUJUK
638104                           98  TIDAK DIRUJUK
628572                           98  TIDAK DIRUJUK
636815                           99        MISSING
316849                           98  TIDAK DIRUJUK
1772263                          98  TIDAK DIRUJUK

In [43]:
dataset['Poli faskes tujuan rujukan label'] = merged_data['label']
dataset.sample(10).filter(items=['Poli faskes tujuan rujukan', 'Poli faskes tujuan rujukan label'])

         Poli faskes tujuan rujukan Poli faskes tujuan rujukan label
3906601                          98                    TIDAK DIRUJUK
673524                           98                    TIDAK DIRUJUK
79509                            98                    TIDAK DIRUJUK
2151914                          98                    TIDAK DIRUJUK
1716336                          98                    TIDAK DIRUJUK
1440983                          98                    TIDAK DIRUJUK
2043292                          98                    TIDAK DIRUJUK
288218                           98                    TIDAK DIRUJUK
3632207                          98                    TIDAK DIRUJUK
2852865                          99                          MISSING

## Merge Jenis Kunjungan FKTP dengan Label Jenis Kunjungan FKTP

In [44]:
jenis_kunjungan['value'] = jenis_kunjungan['value'].astype(int)
merged_data = pd.merge(left=dataset, right=jenis_kunjungan, how='left',left_on='Jenis Kunjungan FKTP',right_on='value')
merged_data.sample(10).filter(items=['Jenis Kunjungan FKTP', 'label'])

         Jenis Kunjungan FKTP             label
538463                      1   Kunjungan sakit
2964457                     2  Kunjungan sehat
2305744                     1   Kunjungan sakit
772575                      1   Kunjungan sakit
848600                      1   Kunjungan sakit
1703612                     2  Kunjungan sehat
2685160                     2  Kunjungan sehat
4026452                     1   Kunjungan sakit
1070031                     2  Kunjungan sehat
535438                      1   Kunjungan sakit

In [45]:
dataset['Jenis Kunjungan FKTP label'] = merged_data['label']
dataset.sample(10).filter(items=['Jenis Kunjungan FKTP', 'Jenis Kunjungan FKTP label'])

         Jenis Kunjungan FKTP Jenis Kunjungan FKTP label
151122                      1            Kunjungan sakit
564132                      2           Kunjungan sehat
2464336                     1            Kunjungan sakit
1616131                     1            Kunjungan sakit
2578607                     1            Kunjungan sakit
1324916                     1            Kunjungan sakit
220543                      1            Kunjungan sakit
1763754                     2           Kunjungan sehat
904229                      2           Kunjungan sehat
2743994                     2           Kunjungan sehat

In [46]:
merged_data = []

In [47]:
dataset['Kelas Status Pulang Peserta Encoded'] = LabelEncoder().fit(dataset['Kelas Status Pulang Peserta']).transform(dataset['Kelas Status Pulang Peserta'])
data_with_9999_code = dataset['Kode dan nama diagnosis ICD 10 (3 digit)'] == 9999
data_with_9999_code = dataset[data_with_9999_code].filter(items=[ 'Kode dan nama diagnosis ICD 10 (3 digit)','Kelas Status Pulang Peserta Encoded'])
data_with_9999_code.value_counts()

Kode dan nama diagnosis ICD 10 (3 digit)  Kelas Status Pulang Peserta Encoded
9999                                      1                                      1380241
dtype: int64

## Pembersihan Data dan Feature Engineering

In [48]:
dataset.columns

Index(['Bobot', 'Tanggal datang kunjungan FKTP',
       'Tanggal pulang kunjungan FKTP', 'Provinsi FKTP', 'Kabupaten/Kota FKTP',
       'Kepemilikan FKTP', 'Jenis FKTP', 'Tipe FKTP', 'Tingkat Pelayanan FKTP',
       'Jenis Poli FKTP', 'Segmen Peserta saat akses layanan FKTP',
       'Kode dan nama diagnosis ICD 10 (3 digit)',
       'Kode diagnosis ICD 10 (3 digit)', 'Kode diagnosis (beragam 3-5 digit)',
       'Nama diagnosis berasal dari kode diagnosis FKP15',
       'Provinsi faskes tujuan rujukan',
       'Kabupaten/Kota faskes tujuan rujukan',
       'Kepemilikan faskes tujuan rujukan', 'Jenis faskes tujuan rujukan',
       'Tipe faskes tujuan rujukan', 'Poli faskes tujuan rujukan',
       'Jenis Kunjungan FKTP', 'Kelas Status Pulang Peserta', 'Provinsi',
       'Kepemilikan', 'Jenis', 'Tipe', 'Tingkat Pelayanan', 'Jenis Poli',
       'Segemen Akses', 'Provinsi faskes tujuan rujukan label',
       'Kepemilikan faskes tujuan rujukan label',
       'Jenis faskes tujuan rujukan label', 'Tipe faskes tujuan rujukan label',
       'Poli faskes tujuan rujukan label', 'Jenis Kunjungan FKTP label',
       'Kelas Status Pulang Peserta Encoded'],
      dtype='object')

In [49]:
dataset['Kode dan nama diagnosis ICD 10 (3 digit)'].value_counts()

9999    1380241
694      238562
621      165252
688      157014
774      106718
         ...
1260          1
1178          1
415           1
1915          1
1696          1
Name: Kode dan nama diagnosis ICD 10 (3 digit), Length: 1837, dtype: int64

In [50]:
dataset['Kabupaten/Kota faskes tujuan rujukan'].value_counts()

9998    3677528
3578       6974
3374       6764
1471       5786
3273       5363
         ...
9415          7
9413          6
1301          3
8108          3
5320          2
Name: Kabupaten/Kota faskes tujuan rujukan, Length: 482, dtype: int64

In [51]:
# Delete unnecessary column 
dataset = dataset.drop(['Tanggal datang kunjungan FKTP','Tanggal pulang kunjungan FKTP','Provinsi FKTP', 'Kabupaten/Kota FKTP',
       'Kepemilikan FKTP', 'Jenis FKTP', 'Tipe FKTP', 'Tingkat Pelayanan FKTP',
       'Jenis Poli FKTP', 'Segmen Peserta saat akses layanan FKTP',  'Kode diagnosis ICD 10 (3 digit)', 'Kode diagnosis (beragam 3-5 digit)',
       'Nama diagnosis berasal dari kode diagnosis FKP15', 'Jenis Kunjungan FKTP','Kelas Status Pulang Peserta', 'Provinsi faskes tujuan rujukan', 'Kepemilikan faskes tujuan rujukan', 'Kepemilikan faskes tujuan rujukan', 'Jenis faskes tujuan rujukan', 'Tipe faskes tujuan rujukan', 'Poli faskes tujuan rujukan'], axis=1)

In [52]:
dataset.columns

Index(['Bobot', 'Kode dan nama diagnosis ICD 10 (3 digit)',
       'Kabupaten/Kota faskes tujuan rujukan', 'Provinsi', 'Kepemilikan',
       'Jenis', 'Tipe', 'Tingkat Pelayanan', 'Jenis Poli', 'Segemen Akses',
       'Provinsi faskes tujuan rujukan label',
       'Kepemilikan faskes tujuan rujukan label',
       'Jenis faskes tujuan rujukan label', 'Tipe faskes tujuan rujukan label',
       'Poli faskes tujuan rujukan label', 'Jenis Kunjungan FKTP label',
       'Kelas Status Pulang Peserta Encoded'],
      dtype='object')

## Encode fitur menjadi categorical

In [53]:
dataset['Kode dan nama diagnosis ICD 10 (3 digit)'] = dataset['Kode dan nama diagnosis ICD 10 (3 digit)'] / dataset['Kode dan nama diagnosis ICD 10 (3 digit)'].max()

In [62]:
dataset['Provinsi'].head(10)

0    Kalimantan Barat
1    Kalimantan Barat
2    Kalimantan Barat
3    Kalimantan Barat
4    Kalimantan Barat
5    Kalimantan Barat
6    Kalimantan Barat
7    Kalimantan Barat
8    Kalimantan Barat
9    Kalimantan Barat
Name: Provinsi, dtype: object

In [67]:
transformed = pd.get_dummies(dataset[['Provinsi','Kepemilikan','Jenis','Tipe','Tingkat Pelayanan','Jenis Poli','Segemen Akses','Provinsi faskes tujuan rujukan label','Kepemilikan faskes tujuan rujukan label','Jenis faskes tujuan rujukan label','Tipe faskes tujuan rujukan label','Poli faskes tujuan rujukan label','Jenis Kunjungan FKTP label']])
transformed.head()

,Provinsi_Aceh,Provinsi_Bali,Provinsi_Banten,Provinsi_Bengkulu,Provinsi_DI Yogyakarta,Provinsi_DKI Jakarta,Provinsi_Gorontalo,Provinsi_Jambi,Provinsi_Jawa Barat,Provinsi_Jawa Tengah,...,Tipe faskes tujuan rujukan label_RS Swasta Setara Type C,Tipe faskes tujuan rujukan label_RS Swasta Setara Type D,Tipe faskes tujuan rujukan label_RS TNI Polri Kelas I,Tipe faskes tujuan rujukan label_RS TNI Polri Kelas II,Tipe faskes tujuan rujukan label_RS TNI Polri Kelas III,Tipe faskes tujuan rujukan label_RS TNI Polri Kelas IV,Poli faskes tujuan rujukan label_MISSING,Poli faskes tujuan rujukan label_TIDAK DIRUJUK,Jenis Kunjungan FKTP label_Kunjungan sakit,Jenis Kunjungan FKTP label_Kunjungan sehat
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,1
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,0

In [69]:
dataset = dataset.drop(['Provinsi','Kepemilikan','Jenis','Tipe','Tingkat Pelayanan','Jenis Poli','Segemen Akses','Provinsi faskes tujuan rujukan label','Kepemilikan faskes tujuan rujukan label','Jenis faskes tujuan rujukan label','Tipe faskes tujuan rujukan label','Poli faskes tujuan rujukan label','Jenis Kunjungan FKTP label'], axis=1)

In [70]:
dataset = dataset.join(transformed)
dataset

,Bobot,Kode dan nama diagnosis ICD 10 (3 digit),Kabupaten/Kota faskes tujuan rujukan,Kelas Status Pulang Peserta Encoded,Provinsi_Aceh,Provinsi_Bali,Provinsi_Banten,Provinsi_Bengkulu,Provinsi_DI Yogyakarta,Provinsi_DKI Jakarta,...,Tipe faskes tujuan rujukan label_RS Swasta Setara Type C,Tipe faskes tujuan rujukan label_RS Swasta Setara Type D,Tipe faskes tujuan rujukan label_RS TNI Polri Kelas I,Tipe faskes tujuan rujukan label_RS TNI Polri Kelas II,Tipe faskes tujuan rujukan label_RS TNI Polri Kelas III,Tipe faskes tujuan rujukan label_RS TNI Polri Kelas IV,Poli faskes tujuan rujukan label_MISSING,Poli faskes tujuan rujukan label_TIDAK DIRUJUK,Jenis Kunjungan FKTP label_Kunjungan sakit,Jenis Kunjungan FKTP label_Kunjungan sehat
0,0.000661,1.000000,9998,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,1
1,0.000087,0.077308,9998,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,0
2,0.000035,0.175718,9998,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,0
3,0.012016,0.062106,9998,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,0
4,0.000035,0.062206,9998,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4056893,0.000469,1.000000,9998,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,1
4056894,0.000128,0.056106,3514,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,1,0
4056895,0.000202,1.000000,9998,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,1
4056896,0.000875,0.077408,9998,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,0
4056897,0.002911,1.000000,9998,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,1

In [71]:
dataset['Kabupaten/Kota faskes tujuan rujukan'] = dataset['Kabupaten/Kota faskes tujuan rujukan'] / dataset['Kabupaten/Kota faskes tujuan rujukan'].max()
dataset['Kabupaten/Kota faskes tujuan rujukan']

0          1.00000
1          1.00000
2          1.00000
3          1.00000
4          1.00000
            ...
4056893    1.00000
4056894    0.35147
4056895    1.00000
4056896    1.00000
4056897    1.00000
Name: Kabupaten/Kota faskes tujuan rujukan, Length: 4056898, dtype: float64

In [72]:
dataset.to_csv('../data/clean_ftkp.csv')