In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns
from sklearn.preprocessing import OneHotEncoder,LabelEncoder


%matplotlib inline

# Load Dataset dan Ekplorasi

In [2]:
jenis_kunjungan = pd.read_excel('../data/Salinan Metadata.xlsx', sheet_name='Jenis Kunjungan FKTP')
poli_faskes_tujuan_rujukan = pd.read_excel('../data/Salinan Metadata.xlsx',sheet_name='Poli faskes tujuan rujukan')
tipe_faskes_tujuan_rujukan = pd.read_excel('../data/Salinan Metadata.xlsx',sheet_name='Tipe faskes tujuan rujukan')
jenis_faskes_tujuan_rujukan = pd.read_excel('../data/Salinan Metadata.xlsx',sheet_name='Jenis faskes tujuan rujukan')
provinsi_faskes_tujuan_rujukan = pd.read_excel('../data/Salinan Metadata.xlsx',sheet_name='Provinsi Faskes Tujuan Rujukan')
segmen_perkerjaan = pd.read_excel('../data/Salinan Metadata.xlsx',sheet_name='Segmen Pekerjaan FTKP')
jenis_poli = pd.read_excel('../data/Salinan Metadata.xlsx',sheet_name='Jenis Poli FTKP')
tingkat_pelayanan = pd.read_excel('../data/Salinan Metadata.xlsx',sheet_name='Tingkat Pelayanan FTKP')
tipe = pd.read_excel('../data/Salinan Metadata.xlsx',sheet_name='Tipe FTKP')
jenis = pd.read_excel('../data/Salinan Metadata.xlsx',sheet_name='Jenis FTKP')
kepemilikan = pd.read_excel('../data/Salinan Metadata.xlsx',sheet_name='Kepemilikan FTKP')
columns = pd.read_excel('../data/Salinan Metadata.xlsx',sheet_name='Label')
provinsi = pd.read_excel('../data/Salinan Metadata.xlsx',sheet_name='Provinsi')
kepemilikan_faskes_tujuan_rujukan = pd.read_excel('../data/Salinan Metadata.xlsx',sheet_name='Kepemilikan faskes tujuan rujuk')

In [3]:
dataset = pd.read_csv('../data/train_fktp.txt', names=columns['Label'])

In [4]:
dataset.head()

,Nomor peserta,Nomor keluarga,Bobot,ID Kunjungan FKTP,Tanggal datang kunjungan FKTP,Tanggal pulang kunjungan FKTP,Provinsi FKTP,Kabupaten/Kota FKTP,Kepemilikan FKTP,Jenis FKTP,...,Kode diagnosis (beragam 3-5 digit),Nama diagnosis berasal dari kode diagnosis FKP15,Provinsi faskes tujuan rujukan,Kabupaten/Kota faskes tujuan rujukan,Kepemilikan faskes tujuan rujukan,Jenis faskes tujuan rujukan,Tipe faskes tujuan rujukan,Poli faskes tujuan rujukan,Jenis Kunjungan FKTP,Kelas Status Pulang Peserta
0,157978748.0,50765420,20.064983,958073632,2019-08-01,2019-08-01,61,6108,3,1,...,9999,9999,98,9998,98,98,98,98,2,Sehat
1,95085112.0,26931775,2.626307,449590620P000054,2020-06-17,2020-06-17,51,5171,9,3,...,K297,"Gastritis, unspecified",98,9998,98,98,98,98,1,Belum_Sehat
2,224470578.0,227368233,1.051830,467490619P000001,2019-06-01,2019-06-01,35,3516,9,2,...,Z309,"Contraceptive management, unspecified",98,9998,98,98,98,98,1,Belum_Sehat
3,63871289.0,62313678,364.741455,254321219Y002368,2019-12-21,2019-12-21,34,3402,3,1,...,I10,Essential (primary) hypertension,98,9998,98,98,98,98,1,Belum_Sehat
4,29915626.0,113446188,1.050523,88681119P000020,2019-11-04,2019-11-04,35,3509,3,1,...,I110,Hypertensive heart disease with (congestive) h...,98,9998,98,98,98,98,1,Belum_Sehat

In [5]:
dataset.shape

(4056898, 26)

In [6]:
dataset['Kelas Status Pulang Peserta'].value_counts()

Belum_Sehat    2634511
Sehat          1422387
Name: Kelas Status Pulang Peserta, dtype: int64

In [7]:
dataset.isnull().sum()

Nomor peserta                                             0
Nomor keluarga                                            0
Bobot                                                     0
ID Kunjungan FKTP                                         0
Tanggal datang kunjungan FKTP                             0
Tanggal pulang kunjungan FKTP                             0
Provinsi FKTP                                             0
Kabupaten/Kota FKTP                                       0
Kepemilikan FKTP                                          0
Jenis FKTP                                                0
Tipe FKTP                                                 0
Tingkat Pelayanan FKTP                                    0
Jenis Poli FKTP                                           1
Segmen Peserta saat akses layanan FKTP                    0
Kode dan nama diagnosis ICD 10 (3 digit)                  0
Kode diagnosis ICD 10 (3 digit)                     1380241
Kode diagnosis (beragam 3-5 digit)                        0
Nama diagnosis berasal dari kode diagnosis FKP15          0
Provinsi faskes tujuan rujukan                            0
Kabupaten/Kota faskes tujuan rujukan                      0
Kepemilikan faskes tujuan rujukan                         0
Jenis faskes tujuan rujukan                               0
Tipe faskes tujuan rujukan                                0
Poli faskes tujuan rujukan                                0
Jenis Kunjungan FKTP                                      0
Kelas Status Pulang Peserta                               0
dtype: int64

In [8]:
empty_data = dataset['Kode diagnosis ICD 10 (3 digit)'][dataset['Kode diagnosis ICD 10 (3 digit)'].isnull()]
empty_data

0          NaN
6          NaN
7          NaN
8          NaN
10         NaN
          ...
4056890    NaN
4056892    NaN
4056893    NaN
4056895    NaN
4056897    NaN
Name: Kode diagnosis ICD 10 (3 digit), Length: 1380241, dtype: object

In [9]:
columns

      Variable  Position                                             Label
0       PSTV01         1                                     Nomor peserta
1       PSTV02         2                                    Nomor keluarga
2       PSTV15         3                                             Bobot
3        FKP02         4                                 ID Kunjungan FKTP
4        FKP03         5                     Tanggal datang kunjungan FKTP
5        FKP04         6                     Tanggal pulang kunjungan FKTP
6        FKP05         7                                     Provinsi FKTP
7        FKP06         8                               Kabupaten/Kota FKTP
8        FKP07         9                                  Kepemilikan FKTP
9        FKP08        10                                        Jenis FKTP
10       FKP09        11                                         Tipe FKTP
11       FKP10        12                            Tingkat Pelayanan FKTP
12       FKP11        13                                   Jenis Poli FKTP
13       FKP12        14            Segmen Peserta saat akses layanan FKTP
14       FKP14        16          Kode dan nama diagnosis ICD 10 (3 digit)
15      FKP14A        17                   Kode diagnosis ICD 10 (3 digit)
16       FKP15        18                Kode diagnosis (beragam 3-5 digit)
17      FKP15A        19  Nama diagnosis berasal dari kode diagnosis FKP15
18       FKP16        20                    Provinsi faskes tujuan rujukan
19       FKP17        21              Kabupaten/Kota faskes tujuan rujukan
20       FKP18        22                 Kepemilikan faskes tujuan rujukan
21       FKP19        23                       Jenis faskes tujuan rujukan
22       FKP20        24                        Tipe faskes tujuan rujukan
23       FKP21        25                        Poli faskes tujuan rujukan
24       FKP22        26                              Jenis Kunjungan FKTP
25  FKP13Class        26                       Kelas Status Pulang Peserta

In [10]:
dataset['Bobot'].describe()

count    4.056898e+06
mean     1.056512e+02
std      1.886474e+02
min      5.106980e-01
25%      1.676808e+01
50%      5.147561e+01
75%      1.282688e+02
max      3.035342e+04
Name: Bobot, dtype: float64

## Melakukan scaling terhadap column bobot agar data bisa seragam

In [11]:
dataset['Bobot'] = dataset['Bobot'] / dataset['Bobot'].max()
dataset['Bobot']

0          0.000661
1          0.000087
2          0.000035
3          0.012016
4          0.000035
             ...
4056893    0.000469
4056894    0.000128
4056895    0.000202
4056896    0.000875
4056897    0.002911
Name: Bobot, Length: 4056898, dtype: float64

In [12]:
dataset = dataset.drop(['Nomor peserta', 'Nomor keluarga', 'ID Kunjungan FKTP'], axis=1)

## Merge data Provinsi FKTP dengan Label Provinsi

In [13]:
dataset['Provinsi FKTP'] = dataset['Provinsi FKTP'].astype(int)

In [14]:
provinsi['value'] = provinsi['value'].astype(int)

In [15]:
merged_data = pd.merge(left=dataset, right=provinsi, how='inner',left_on='Provinsi FKTP',right_on='value')

In [16]:
merged_data.sample(10).filter(items=['Provinsi FKTP', 'label'])

         Provinsi FKTP           label
310351              35      Jawa Timur
1146003             33     Jawa Tengah
176303              51            Bali
2218089             31     DKI Jakarta
1101979             33     Jawa Tengah
2045039             21  Kepulauan Riau
3612954             32      Jawa Barat
3308060             32      Jawa Barat
1291245             33     Jawa Tengah
3417050             32      Jawa Barat

In [17]:
dataset['Provinsi'] = merged_data['label']
dataset.sample(10).filter(items=['Provinsi FKTP', 'Provinsi'])

         Provinsi FKTP             Provinsi
1879527             73     Sulawesi Selatan
1374348             74          Jawa Tengah
2902899             32      Sulawesi Tengah
809586              76    Kalimantan Tengah
282571              33           Jawa Timur
1083754             31          Jawa Tengah
3161128             35           Jawa Barat
371779              34           Jawa Timur
1103406             15          Jawa Tengah
2535916             73  Nusa Tenggara Timur

## Merge Kepemilikan FTKP dengan Label Kepemilikan

In [18]:
kepemilikan['label'][8] = 'Swasta'
kepemilikan['value'] = kepemilikan['value'].astype(int)
merged_data = pd.merge(left=dataset, right=kepemilikan, how='inner',left_on='Kepemilikan FKTP',right_on='value')
merged_data.sample(10).filter(items=['Kepemilikan FKTP', 'label'])

/tmp/ipykernel_190878/3237086925.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kepemilikan['label'][8] = 'Swasta'

         Kepemilikan FKTP   label
173949                  3  PemKab
1504356                 3  PemKab
3861702                 4   POLRI
1123098                 3  PemKab
3257271                 9  Swasta
2035088                 3  PemKab
892612                  3  PemKab
1845558                 3  PemKab
730638                  3  PemKab
3551618                 9  Swasta

In [19]:
dataset['Kepemilikan'] = merged_data['label']
dataset.sample(10).filter(items=['Kepemilikan FKTP', 'Kepemilikan'])

         Kepemilikan FKTP Kepemilikan
2789668                 3      Swasta
1507537                 9      PemKab
3195568                 3      Swasta
538173                  3      PemKab
1664203                 9      PemKab
3474085                 9      Swasta
941999                  4      PemKab
2921269                 9      Swasta
1631866                 3      PemKab
1122283                 3      PemKab

## Merge Jenis FKTP dengan Label Jenis

In [20]:
jenis['value'] = jenis['value'].astype(int)
merged_data = pd.merge(left=dataset, right=jenis, how='inner',left_on='Jenis FKTP',right_on='value')
merged_data.sample(10).filter(items=['Jenis FKTP', 'label'])

         Jenis FKTP           label
2763772           3     Dokter Umum
3639216           2  Klinik Pratama
3102904           2  Klinik Pratama
714560            1       Puskesmas
2802978           3     Dokter Umum
3281290           2  Klinik Pratama
1967015           1       Puskesmas
2199853           3     Dokter Umum
2042539           1       Puskesmas
3328790           2  Klinik Pratama

In [21]:
dataset['Jenis'] = merged_data['label']
dataset.sample(10).filter(items=['Kepemilikan FKTP', 'Jenis'])

         Kepemilikan FKTP           Jenis
2678838                 9     Dokter Umum
259296                  4       Puskesmas
1201632                 9       Puskesmas
180948                  9       Puskesmas
1372955                 9       Puskesmas
1650124                 9       Puskesmas
1107891                 9       Puskesmas
1613363                 9       Puskesmas
3886881                 9  Klinik Pratama
2915889                 9  Klinik Pratama

##Merge Tipe FTKP dengan Label Kepemilikan

In [22]:
tipe['value'] = tipe['value'].astype(int)
merged_data = pd.merge(left=dataset, right=tipe, how='inner',left_on='Tipe FKTP',right_on='value')
merged_data.sample(10).filter(items=['Tipe FKTP', 'label'])

         Tipe FKTP                  label
3367054          3         Non Rawat Inap
4013244          5      Klinik Rawat Inap
1760798          1  Klinik Non Rawat Inap
297717           4             Rawat Inap
2793229          3         Non Rawat Inap
1878016          1  Klinik Non Rawat Inap
62638            4             Rawat Inap
477955           4             Rawat Inap
3567587          3         Non Rawat Inap
3523720          3         Non Rawat Inap

In [23]:
dataset['Tipe'] = merged_data['label']
dataset.sample(10).filter(items=['Tipe FKTP', 'Tipe'])

         Tipe FKTP                       Tipe
708559           3                 Rawat Inap
2011882          4      Klinik Non Rawat Inap
3053343          3             Non Rawat Inap
1103325          4  Dokter Prakter Perorangan
3905024          2          Klinik Rawat Inap
698867           2                 Rawat Inap
2494645          4      Klinik Non Rawat Inap
2164918          2      Klinik Non Rawat Inap
2868364          1             Non Rawat Inap
1611796          1      Klinik Non Rawat Inap

## Merge Tingkat Pelayanan FTKP dengan Label Tingkat Pelayanan

In [24]:
tingkat_pelayanan['value'] = tingkat_pelayanan['value'].astype(int)
merged_data = pd.merge(left=dataset, right=tingkat_pelayanan, how='inner',left_on='Tingkat Pelayanan FKTP',right_on='value')
merged_data.sample(10).filter(items=['Tingkat Pelayanan FKTP', 'label'])

         Tingkat Pelayanan FKTP     label
3733799                       1      RJTP
3931367                       3  Promotif
973229                        1      RJTP
1125106                       1      RJTP
296414                        1      RJTP
1678981                       1      RJTP
2896847                       1      RJTP
3073606                       1      RJTP
3531120                       1      RJTP
2979435                       1      RJTP

In [25]:
dataset['Tingkat Pelayanan'] = merged_data['label']
dataset.sample(10).filter(items=['Tingkat Pelayanan FKTP', 'Tingkat Pelayanan'])

         Tingkat Pelayanan FKTP Tingkat Pelayanan
1428270                       1              RJTP
2656872                       1              RJTP
940842                        1              RJTP
92151                         1              RJTP
2192545                       1              RJTP
1321138                       1              RJTP
2474069                       1              RJTP
3197322                       1              RJTP
3895110                       1              RJTP
3167284                       1              RJTP

## Merge Jenis Poli FTKP dengan Label Jenis Poli

In [26]:
jenis_poli['value'] = jenis_poli['value'].astype(int)
merged_data = pd.merge(left=dataset, right=jenis_poli, how='inner',left_on='Jenis Poli FKTP',right_on='value')
merged_data.sample(10).filter(items=['Tingkat Pelayanan FKTP', 'label'])

         Tingkat Pelayanan FKTP       label
1022012                       1   POLI UMUM
271353                        1  Home-Visit
698316                        1   POLI UMUM
3287728                       1   Konseling
2091324                       1   POLI UMUM
2325331                       1   POLI UMUM
2347538                       1   POLI UMUM
3403123                       1   Konseling
3605526                       1   Konseling
1880706                       1   POLI UMUM

In [27]:
dataset['Jenis Poli'] = merged_data['label']
dataset.sample(10).filter(items=['Tingkat Pelayanan FKTP', 'Jenis Poli'])

         Tingkat Pelayanan FKTP         Jenis Poli
1192811                       1          POLI UMUM
194279                        1         Home-Visit
2878733                       1           POLI KIA
1659425                       1          POLI UMUM
3371026                       1          Konseling
2294796                       1          POLI UMUM
861075                        1          POLI UMUM
3860256                       1  POLI GIGI & MULUT
1877079                       1          POLI UMUM
1183675                       1          POLI UMUM

## Merge Segmen Peserta saat akses layanan FKTP dengan Label Segmen Peserta saat akses layanan FKTP

In [28]:
segmen_perkerjaan['value'] = segmen_perkerjaan['value'].astype(int)
merged_data = pd.merge(left=dataset, right=segmen_perkerjaan, how='inner',left_on='Segmen Peserta saat akses layanan FKTP',right_on='value')
merged_data.sample(10).filter(items=['Segmen Peserta saat akses layanan FKTP', 'label'])

         Segmen Peserta saat akses layanan FKTP          label
3075219                                       5           PPUÂ
2995555                                       5           PPUÂ
2932793                                       5           PPUÂ
3256604                                       5           PPUÂ
2670345                                       5           PPUÂ
1599547                                       4           PBPU
902961                                        2       PBI APBN
3593521                                       1  Bukan pekerja
51166                                         2       PBI APBN
3664022                                       1  Bukan pekerja

In [29]:
dataset['Segemen Akses'] = merged_data['label']
dataset.sample(10).filter(items=['Segmen Peserta saat akses layanan FKTP', 'Segemen Akses'])

         Segmen Peserta saat akses layanan FKTP Segemen Akses
3014496                                       2          PPUÂ
3091862                                       3          PPUÂ
2961824                                       5          PPUÂ
2795513                                       2          PPUÂ
3334397                                       5          PPUÂ
2647562                                       5          PPUÂ
3159703                                       5          PPUÂ
383429                                        5      PBI APBN
2081706                                       5          PPUÂ
2646260                                       5          PPUÂ

## Merge Provinsi faskes tujuan rujukan Dengan Label Provinsi

In [30]:
dataset['Provinsi faskes tujuan rujukan'] = dataset['Provinsi faskes tujuan rujukan'].replace(98,99)
dataset['Provinsi faskes tujuan rujukan']

0          99
1          99
2          99
3          99
4          99
           ..
4056893    99
4056894    35
4056895    99
4056896    99
4056897    99
Name: Provinsi faskes tujuan rujukan, Length: 4056898, dtype: int64

In [31]:
provinsi_faskes_tujuan_rujukan['value'] = provinsi_faskes_tujuan_rujukan['value'].astype(int)
merged_data = pd.merge(left=dataset, right=provinsi_faskes_tujuan_rujukan, how='inner',left_on='Provinsi faskes tujuan rujukan',right_on='value')
merged_data.sample(10).filter(items=['Provinsi faskes tujuan rujukan', 'label'])

         Provinsi faskes tujuan rujukan                    label
101862                               99  Tidak dilakukan rujukan
2155251                              99  Tidak dilakukan rujukan
2121676                              99  Tidak dilakukan rujukan
3077536                              99  Tidak dilakukan rujukan
2750579                              99  Tidak dilakukan rujukan
961091                               99  Tidak dilakukan rujukan
2334301                              99  Tidak dilakukan rujukan
75631                                99  Tidak dilakukan rujukan
2933504                              99  Tidak dilakukan rujukan
385616                               99  Tidak dilakukan rujukan

In [32]:
merged_data.shape

(4056898, 32)

In [33]:
dataset['Provinsi faskes tujuan rujukan label'] = merged_data['label']
dataset.sample(10).filter(items=['Provinsi faskes tujuan rujukan label', 'Provinsi faskes tujuan rujukan label'])

,Provinsi faskes tujuan rujukan label,Provinsi faskes tujuan rujukan label
2625192,Tidak dilakukan rujukan,Tidak dilakukan rujukan
980077,Tidak dilakukan rujukan,Tidak dilakukan rujukan
1809861,Tidak dilakukan rujukan,Tidak dilakukan rujukan
544273,Tidak dilakukan rujukan,Tidak dilakukan rujukan
884484,Tidak dilakukan rujukan,Tidak dilakukan rujukan
33973,Tidak dilakukan rujukan,Tidak dilakukan rujukan
25274,Tidak dilakukan rujukan,Tidak dilakukan rujukan
1926016,Tidak dilakukan rujukan,Tidak dilakukan rujukan
3279888,Tidak dilakukan rujukan,Tidak dilakukan rujukan
1493644,Tidak dilakukan rujukan,Tidak dilakukan rujukan

## Merge Kepemilikan faskes tujuan rujukan Dengan Label Kepemilikan faskes tujuan rujukan

In [34]:
dataset['Kepemilikan faskes tujuan rujukan'].value_counts()

98    3677528
9      208800
3      117312
2       16614
5       13834
4        8464
8        7550
7        2329
1        2244
6        2223
Name: Kepemilikan faskes tujuan rujukan, dtype: int64

In [35]:
kepemilikan_faskes_tujuan_rujukan['value'] = kepemilikan_faskes_tujuan_rujukan['value'].astype(int)
merged_data = pd.merge(left=dataset, right=kepemilikan_faskes_tujuan_rujukan, how='left',left_on='Kepemilikan faskes tujuan rujukan',right_on='value')
merged_data.sample(10).filter(items=['Kepemilikan faskes tujuan rujukan', 'label'])

         Kepemilikan faskes tujuan rujukan                      label
2729426                                 98              Tidak dirujuk
2377299                                 98              Tidak dirujuk
577197                                   3  Pemerintah kabupaten/kota
679618                                  98              Tidak dirujuk
3046422                                 98              Tidak dirujuk
3080788                                 98              Tidak dirujuk
3959990                                 98              Tidak dirujuk
2864349                                 98              Tidak dirujuk
3875558                                 98              Tidak dirujuk
2783147                                 98              Tidak dirujuk

In [36]:
merged_data['label'] = merged_data['label'].fillna('Tidak dirujuk')
merged_data['label'].isnull().sum()

0

In [37]:
dataset['Kepemilikan faskes tujuan rujukan label'] = merged_data['label']
dataset.sample(10).filter(items=['Kepemilikan faskes tujuan rujukan', 'Kepemilikan faskes tujuan rujukan label'])

,Kepemilikan faskes tujuan rujukan,Kepemilikan faskes tujuan rujukan label
3238878,3,Pemerintah kabupaten/kota
3526382,98,Tidak dirujuk
1924614,98,Tidak dirujuk
2181465,98,Tidak dirujuk
1521105,98,Tidak dirujuk
2569802,98,Tidak dirujuk
1812250,98,Tidak dirujuk
1918145,98,Tidak dirujuk
715798,98,Tidak dirujuk
2134606,98,Tidak dirujuk

## Merge Jenis faskes tujuan rujukan Dengan Label Jenis faskes tujuan rujukan Label

In [38]:
jenis_faskes_tujuan_rujukan['value'] = jenis_faskes_tujuan_rujukan['value'].astype(int)
merged_data = pd.merge(left=dataset, right=jenis_faskes_tujuan_rujukan, how='left',left_on='Jenis faskes tujuan rujukan',right_on='value')
merged_data.sample(10).filter(items=['Jenis faskes tujuan rujukan', 'label'])

         Jenis faskes tujuan rujukan          label
1222132                           98  Tidak dirujuk
1916328                           98  Tidak dirujuk
3298758                           98  Tidak dirujuk
2222534                           98  Tidak dirujuk
2313269                           98  Tidak dirujuk
2440965                           98  Tidak dirujuk
2124695                           98  Tidak dirujuk
1883134                           98  Tidak dirujuk
1566328                           98  Tidak dirujuk
2832080                           98  Tidak dirujuk

In [39]:
dataset['Jenis faskes tujuan rujukan label'] = merged_data['label']
dataset.sample(10).filter(items=['Jenis faskes tujuan rujukan', 'Jenis faskes tujuan rujukan label'])

         Jenis faskes tujuan rujukan Jenis faskes tujuan rujukan label
916375                            98                     Tidak dirujuk
29780                             98                     Tidak dirujuk
869094                            98                     Tidak dirujuk
2232515                           98                     Tidak dirujuk
3432392                           98                     Tidak dirujuk
393522                            98                     Tidak dirujuk
3727459                           98                     Tidak dirujuk
1079959                           98                     Tidak dirujuk
3643676                           98                     Tidak dirujuk
517                               98                     Tidak dirujuk

## Merge Tipe faskes tujuan rujukan Dengan Label Tipe faskes tujuan rujukan

In [40]:
tipe_faskes_tujuan_rujukan['value'] = tipe_faskes_tujuan_rujukan['value'].astype(int)
merged_data = pd.merge(left=dataset, right=tipe_faskes_tujuan_rujukan, how='left',left_on='Tipe faskes tujuan rujukan',right_on='value')
merged_data.sample(10).filter(items=['Tipe faskes tujuan rujukan', 'label'])

         Tipe faskes tujuan rujukan                    label
2346381                          98            Tidak Dirujuk
1314389                          34  RS Swasta Setara Type C
1154643                          28               RS Kelas C
3097674                          98            Tidak Dirujuk
650219                           98            Tidak Dirujuk
3160569                          98            Tidak Dirujuk
153298                           98            Tidak Dirujuk
3584547                          28               RS Kelas C
3895979                          98            Tidak Dirujuk
4004115                          98            Tidak Dirujuk

In [41]:
dataset['Tipe faskes tujuan rujukan label'] = merged_data['label']
dataset.sample(10).filter(items=['Tipe faskes tujuan rujukan', 'Jenis faskes tujuan rujukan label'])

         Tipe faskes tujuan rujukan Jenis faskes tujuan rujukan label
583225                           98                     Tidak dirujuk
3273277                          98                     Tidak dirujuk
603422                           28                         Puskesmas
465871                           34                         Puskesmas
448394                           98                     Tidak dirujuk
995668                           98                     Tidak dirujuk
473425                           98                     Tidak dirujuk
3041734                          28                         Puskesmas
3027638                          98                     Tidak dirujuk
734064                           98                     Tidak dirujuk

## Merge Poli faskes tujuan rujukan Dengan Label Poli faskes tujuan rujukan

In [42]:
poli_faskes_tujuan_rujukan['value'] = poli_faskes_tujuan_rujukan['value'].astype(int)
merged_data = pd.merge(left=dataset, right=poli_faskes_tujuan_rujukan, how='left',left_on='Poli faskes tujuan rujukan',right_on='value')
merged_data.sample(10).filter(items=['Poli faskes tujuan rujukan', 'label'])

         Poli faskes tujuan rujukan          label
411572                           98  TIDAK DIRUJUK
3737470                          98  TIDAK DIRUJUK
1291482                          98  TIDAK DIRUJUK
2079686                          98  TIDAK DIRUJUK
2707254                          98  TIDAK DIRUJUK
2796150                          98  TIDAK DIRUJUK
2853013                          99        MISSING
1586138                          98  TIDAK DIRUJUK
1525354                          98  TIDAK DIRUJUK
720611                           98  TIDAK DIRUJUK

In [43]:
dataset['Poli faskes tujuan rujukan label'] = merged_data['label']
dataset.sample(10).filter(items=['Poli faskes tujuan rujukan', 'Poli faskes tujuan rujukan label'])

         Poli faskes tujuan rujukan Poli faskes tujuan rujukan label
2646761                          98                    TIDAK DIRUJUK
3823666                          98                    TIDAK DIRUJUK
350000                           98                    TIDAK DIRUJUK
2267893                          98                    TIDAK DIRUJUK
3044820                          98                    TIDAK DIRUJUK
524122                           98                    TIDAK DIRUJUK
1112936                          98                    TIDAK DIRUJUK
3386258                          98                    TIDAK DIRUJUK
2160000                          98                    TIDAK DIRUJUK
3657039                          98                    TIDAK DIRUJUK

## Merge Jenis Kunjungan FKTP dengan Label Jenis Kunjungan FKTP

In [44]:
jenis_kunjungan['value'] = jenis_kunjungan['value'].astype(int)
merged_data = pd.merge(left=dataset, right=jenis_kunjungan, how='left',left_on='Jenis Kunjungan FKTP',right_on='value')
merged_data.sample(10).filter(items=['Jenis Kunjungan FKTP', 'label'])

         Jenis Kunjungan FKTP             label
652984                      1   Kunjungan sakit
169222                      1   Kunjungan sakit
3089482                     1   Kunjungan sakit
150814                      2  Kunjungan sehatÂ
3096652                     1   Kunjungan sakit
2864939                     1   Kunjungan sakit
2822724                     1   Kunjungan sakit
949536                      1   Kunjungan sakit
3181051                     2  Kunjungan sehatÂ
2824724                     1   Kunjungan sakit

In [45]:
dataset['Jenis Kunjungan FKTP label'] = merged_data['label']
dataset.sample(10).filter(items=['Jenis Kunjungan FKTP', 'Jenis Kunjungan FKTP label'])

         Jenis Kunjungan FKTP Jenis Kunjungan FKTP label
2634114                     1            Kunjungan sakit
683977                      2           Kunjungan sehatÂ
3788106                     1            Kunjungan sakit
1924036                     2           Kunjungan sehatÂ
1194542                     1            Kunjungan sakit
1422717                     1            Kunjungan sakit
3392172                     1            Kunjungan sakit
3258762                     2           Kunjungan sehatÂ
1298295                     1            Kunjungan sakit
2234237                     1            Kunjungan sakit

In [46]:
merged_data = []

In [47]:
dataset['Kelas Status Pulang Peserta Encoded'] = LabelEncoder().fit(dataset['Kelas Status Pulang Peserta']).transform(dataset['Kelas Status Pulang Peserta'])
data_with_9999_code = dataset['Kode dan nama diagnosis ICD 10 (3 digit)'] == 9999
data_with_9999_code = dataset[data_with_9999_code].filter(items=[ 'Kode dan nama diagnosis ICD 10 (3 digit)','Kelas Status Pulang Peserta Encoded'])
data_with_9999_code.value_counts()

Kode dan nama diagnosis ICD 10 (3 digit)  Kelas Status Pulang Peserta Encoded
9999                                      1                                      1380241
dtype: int64

## Pembersihan Data dan Feature Engineering

In [48]:
dataset.columns

Index(['Bobot', 'Tanggal datang kunjungan FKTP',
       'Tanggal pulang kunjungan FKTP', 'Provinsi FKTP', 'Kabupaten/Kota FKTP',
       'Kepemilikan FKTP', 'Jenis FKTP', 'Tipe FKTP', 'Tingkat Pelayanan FKTP',
       'Jenis Poli FKTP', 'Segmen Peserta saat akses layanan FKTP',
       'Kode dan nama diagnosis ICD 10 (3 digit)',
       'Kode diagnosis ICD 10 (3 digit)', 'Kode diagnosis (beragam 3-5 digit)',
       'Nama diagnosis berasal dari kode diagnosis FKP15',
       'Provinsi faskes tujuan rujukan',
       'Kabupaten/Kota faskes tujuan rujukan',
       'Kepemilikan faskes tujuan rujukan', 'Jenis faskes tujuan rujukan',
       'Tipe faskes tujuan rujukan', 'Poli faskes tujuan rujukan',
       'Jenis Kunjungan FKTP', 'Kelas Status Pulang Peserta', 'Provinsi',
       'Kepemilikan', 'Jenis', 'Tipe', 'Tingkat Pelayanan', 'Jenis Poli',
       'Segemen Akses', 'Provinsi faskes tujuan rujukan label',
       'Kepemilikan faskes tujuan rujukan label',
       'Jenis faskes tujuan rujukan label', 'Tipe faskes tujuan rujukan label',
       'Poli faskes tujuan rujukan label', 'Jenis Kunjungan FKTP label',
       'Kelas Status Pulang Peserta Encoded'],
      dtype='object')

In [49]:
dataset['Kode dan nama diagnosis ICD 10 (3 digit)'].value_counts()

9999    1380241
694      238562
621      165252
688      157014
774      106718
         ...
1260          1
1178          1
415           1
1915          1
1696          1
Name: Kode dan nama diagnosis ICD 10 (3 digit), Length: 1837, dtype: int64

In [50]:
dataset['Kabupaten/Kota faskes tujuan rujukan'].value_counts()

9998    3677528
3578       6974
3374       6764
1471       5786
3273       5363
         ...
9415          7
9413          6
1301          3
8108          3
5320          2
Name: Kabupaten/Kota faskes tujuan rujukan, Length: 482, dtype: int64

In [51]:
provinsi_ordinal_label = {k:i for i, k in enumerate(provinsi['label'].unique(), 0)}
kepemilikan_ordinal_label = {k:i for i, k in enumerate(kepemilikan['label'].unique(), 0)}
jenis_ordinal_label = {k:i for i, k in enumerate(jenis['label'].unique(), 0)}
tipe_ordinal_label = {k:i for i, k in enumerate(tipe['label'].unique(), 0)}
tingkat_pelayanan_ordinal_label = {k:i for i, k in enumerate(tingkat_pelayanan['label'].unique(), 0)}
jenis_poli_ordinal_label = {k:i for i, k in enumerate(jenis_poli['label'].unique(), 0)}
segmen_akses_ordinal_label = {k:i for i, k in enumerate(segmen_perkerjaan['label'].unique(), 0)}
provinsi_faskes_tujuan_rujukan_ordinal_label = {k:i for i, k in enumerate(provinsi_faskes_tujuan_rujukan['label'].unique(), 0)}
kepemilikan_faskes_tujuan_rujukan_ordinal_label = {k:i for i, k in enumerate(kepemilikan_faskes_tujuan_rujukan['label'].unique(), 0)}
jenis_faskes_tujuan_rujukan_ordinal_label = {k:i for i, k in enumerate(jenis_faskes_tujuan_rujukan['label'].unique(), 0)}
tipe_faskes_tujuan_rujukan_ordinal_label = {k:i for i, k in enumerate(tipe_faskes_tujuan_rujukan['label'].unique(), 0)}
poli_faskes_tujuan_rujukan_ordinal_label = {k:i for i, k in enumerate(poli_faskes_tujuan_rujukan['label'].unique(), 0)}
jenis_kunjungan_ordinal_label = {k:i for i, k in enumerate(jenis_kunjungan['label'].unique(), 0)}

In [52]:
dataset['Kepemilikan']

0            PemKab
1            PemKab
2            PemKab
3            PemKab
4            PemKab
             ...
4056893    Vertikal
4056894    Vertikal
4056895    Vertikal
4056896    Vertikal
4056897    Vertikal
Name: Kepemilikan, Length: 4056898, dtype: object

In [53]:
dataset['Provinsi'] = dataset['Provinsi'].map(provinsi_ordinal_label)
dataset['Kepemilikan'] = dataset['Kepemilikan'].map(kepemilikan_ordinal_label)
dataset['Jenis'] = dataset['Jenis'].map(jenis_ordinal_label)
dataset['Tipe'] = dataset['Tipe'].map(tipe_ordinal_label)
dataset['Tingkat Pelayanan'] = dataset['Tingkat Pelayanan'].map(tingkat_pelayanan_ordinal_label)
dataset['Jenis Poli'] = dataset['Jenis Poli'].map(jenis_poli_ordinal_label)
dataset['Segemen Akses'] = dataset['Segemen Akses'].map(segmen_akses_ordinal_label)
dataset['Provinsi faskes tujuan rujukan label'] = dataset['Provinsi faskes tujuan rujukan label'].map(provinsi_faskes_tujuan_rujukan_ordinal_label)
dataset['Kepemilikan faskes tujuan rujukan label'] = dataset['Kepemilikan faskes tujuan rujukan label'].map(kepemilikan_faskes_tujuan_rujukan_ordinal_label)
dataset['Jenis faskes tujuan rujukan label'] = dataset['Jenis faskes tujuan rujukan label'].map(jenis_faskes_tujuan_rujukan_ordinal_label)
dataset['Tipe faskes tujuan rujukan label'] = dataset['Tipe faskes tujuan rujukan label'].map(tipe_faskes_tujuan_rujukan_ordinal_label)
dataset['Poli faskes tujuan rujukan label'] = dataset['Poli faskes tujuan rujukan label'].map(poli_faskes_tujuan_rujukan_ordinal_label)
dataset['Jenis Kunjungan FKTP label'] = dataset['Jenis Kunjungan FKTP label'].map(jenis_kunjungan_ordinal_label)

In [54]:
# Delete unnecessary column
dataset = dataset.drop(['Tanggal datang kunjungan FKTP','Tanggal pulang kunjungan FKTP','Kabupaten/Kota FKTP', 'Kode diagnosis ICD 10 (3 digit)', 'Kode diagnosis (beragam 3-5 digit)', 'Nama diagnosis berasal dari kode diagnosis FKP15'], axis=1)

In [69]:
dataset.columns

Index(['Bobot', 'Provinsi FKTP', 'Kepemilikan FKTP', 'Jenis FKTP', 'Tipe FKTP',
       'Tingkat Pelayanan FKTP', 'Jenis Poli FKTP',
       'Segmen Peserta saat akses layanan FKTP',
       'Kode dan nama diagnosis ICD 10 (3 digit)',
       'Provinsi faskes tujuan rujukan',
       'Kabupaten/Kota faskes tujuan rujukan',
       'Kepemilikan faskes tujuan rujukan', 'Jenis faskes tujuan rujukan',
       'Tipe faskes tujuan rujukan', 'Poli faskes tujuan rujukan',
       'Jenis Kunjungan FKTP', 'Kelas Status Pulang Peserta', 'Provinsi',
       'Kepemilikan', 'Jenis', 'Tipe', 'Tingkat Pelayanan', 'Jenis Poli',
       'Segemen Akses', 'Provinsi faskes tujuan rujukan label',
       'Kepemilikan faskes tujuan rujukan label',
       'Jenis faskes tujuan rujukan label', 'Tipe faskes tujuan rujukan label',
       'Poli faskes tujuan rujukan label', 'Jenis Kunjungan FKTP label',
       'Kelas Status Pulang Peserta Encoded'],
      dtype='object')

In [70]:
dataset['Kode dan nama diagnosis ICD 10 (3 digit)'] = dataset['Kode dan nama diagnosis ICD 10 (3 digit)'] / dataset['Kode dan nama diagnosis ICD 10 (3 digit)'].max()

In [71]:
dataset

,Bobot,Provinsi FKTP,Kepemilikan FKTP,Jenis FKTP,Tipe FKTP,Tingkat Pelayanan FKTP,Jenis Poli FKTP,Segmen Peserta saat akses layanan FKTP,Kode dan nama diagnosis ICD 10 (3 digit),Provinsi faskes tujuan rujukan,...,Tingkat Pelayanan,Jenis Poli,Segemen Akses,Provinsi faskes tujuan rujukan label,Kepemilikan faskes tujuan rujukan label,Jenis faskes tujuan rujukan label,Tipe faskes tujuan rujukan label,Poli faskes tujuan rujukan label,Jenis Kunjungan FKTP label,Kelas Status Pulang Peserta Encoded
0,0.000661,61,3,1,4,1,12.0,2,1.000000,99,...,0,11.0,1,34,9,3,40.0,95,1,1
1,0.000087,51,9,3,2,1,1.0,4,0.077308,99,...,0,11.0,1,34,9,3,40.0,95,0,0
2,0.000035,35,9,2,1,1,3.0,4,0.175718,99,...,0,11.0,1,34,9,3,40.0,95,0,0
3,0.012016,34,3,1,4,1,1.0,5,0.062106,99,...,0,11.0,1,34,9,3,40.0,95,0,0
4,0.000035,35,3,1,4,1,1.0,1,0.062206,99,...,0,11.0,1,34,9,3,40.0,95,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4056893,0.000469,35,9,3,2,1,12.0,4,1.000000,99,...,1,21.0,2,28,9,3,40.0,95,1,1
4056894,0.000128,35,9,2,1,1,1.0,5,0.056106,35,...,1,21.0,2,28,8,1,13.0,96,0,0
4056895,0.000202,11,4,2,1,1,13.0,5,1.000000,99,...,1,25.0,2,28,9,3,40.0,95,1,1
4056896,0.000875,74,3,1,3,1,1.0,2,0.077408,99,...,1,25.0,2,28,9,3,40.0,95,0,0
4056897,0.002911,73,3,1,4,1,13.0,2,1.000000,99,...,1,NaN,2,28,9,3,40.0,95,1,1

In [73]:
dataset.to_csv('../data/clean_ftkp.csv')